/* Dog CSS - Converted from SCSS */
:root {
  --dog-size: 115px;
}

.dog-circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(245, 180, 69);
  margin: 0 auto 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.35);
}

.dog-circle .eye {
  position: absolute;
  margin: auto;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--dog-size) * 1.5);
  height: calc(var(--dog-size) * 1.5);
  border-radius: 50%;
  background: white;
}

.dog-circle .eye-inside {
  position: absolute;
  margin: auto;
  top: initial;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--dog-size) * 1.2);
  height: calc(var(--dog-size) * 1.2);
  border-radius: 50%;
  background: black;
}

.dog-circle .eye-right {
  left: -400px;
}

.dog-circle .eye-left {
  right: -400px;
}

.dog-circle .eye-under {
  position: absolute;
  margin: auto;
  top: -150px;
  left: -400px;
  right: 0;
  bottom: 0;
  width: calc(var(--dog-size) * 1.5);
  height: calc(var(--dog-size) * 0.8);
  border-radius: 50%;
  border-top: 2px solid black;
  background: rgb(245, 180, 69);
  z-index: 2;
}

.dog-circle .eye-under:nth-of-type(2) {
  right: -800px;
}

.dog-circle .arm {
  position: absolute;
  margin: auto;
  top: 0;
  left: -500px;
  right: 0;
  bottom: 0;
  width: var(--dog-size);
  height: var(--dog-size);
  z-index: 2;
  background: rgb(245, 180, 69);
}

.dog-circle .finger {
  position: absolute;
  margin: auto;
  top: 50px;
  left: auto;
  right: auto;
  bottom: auto;
  width: 33.3333333px;
  height: calc(var(--dog-size) * 0.5);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top: 2px solid black;
}

.dog-circle .finger:nth-of-type(1) {
  left: 0;
  border-left: 2px solid black;
}

.dog-circle .finger:nth-of-type(1)::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 20px;
  left: -2px;
  right: auto;
  bottom: auto;
  width: 0;
  height: var(--dog-size);
  border-left: 2px solid black;
}

.dog-circle .finger:nth-of-type(2) {
  left: 0;
  right: 0;
}

.dog-circle .finger:nth-of-type(3) {
  right: 0;
  border-right: 2px solid black;
}

.dog-circle .finger:nth-of-type(3)::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 20px;
  left: auto;
  right: -2px;
  bottom: auto;
  width: 0;
  height: var(--dog-size);
  border-left: 2px solid black;
}

.dog-circle .arm-right {
  right: -1000px;
}

.dog-circle .cheek {
  position: absolute;
  margin: auto;
  top: 0;
  left: -550px;
  right: 0;
  bottom: 0;
  width: var(--dog-size);
  height: calc(var(--dog-size) * 0.8);
  border-left: 2px solid black;
  border-radius: 50%;
}

.dog-circle .cheek-right {
  left: 0;
  right: -550px;
  border-left: none;
  border-right: 2px solid black;
}

.dog-circle .nose {
  position: absolute;
  margin: auto;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--dog-size);
  height: calc(var(--dog-size) * 0.8);
  background: black;
  border-radius: 50%;
}

.dog-circle .nose-reflection {
  position: absolute;
  margin: auto;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--dog-size) * 0.5);
  height: calc(var(--dog-size) * 0.3);
  border-radius: 50%;
  background: white;
}

.dog-circle .ear {
  position: absolute;
  margin: auto;
  top: -300px;
  left: -700px;
  right: 0;
  bottom: 0;
  width: var(--dog-size);
  height: calc(var(--dog-size) * 1.5);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-180deg);
}

.dog-circle .ear-right {
  left: 0;
  right: -700px;
}

.dog-circle .mouth {
  position: absolute;
  margin: auto;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--dog-size) * 2);
  height: var(--dog-size);
}

.dog-circle .mouth::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: initial;
  bottom: 0;
  width: var(--dog-size);
  height: calc(var(--dog-size) * 0.8);
  border-radius: 50%;
  border-bottom: 2px solid black;
}

.dog-circle .mouth::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: initial;
  right: 0;
  bottom: 0;
  width: var(--dog-size);
  height: calc(var(--dog-size) * 0.8);
  border-radius: 50%;
  border-bottom: 2px solid black;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .dog-circle {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
  
  .dog-container {
    transform: scale(0.25);
  }
}
